<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Products</h1>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                	<th>Product ID</th>
                    <th>Product Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products | async">
                	<td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td><button (click)="deleteProduct(product.id)" class="btn btn-danger">Delete</button></td>
                    <td><button (click)="updateProduct(product.id)" class="btn btn-info" style="margin-left: 10px">Update</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>